.main_container {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.container {

    width: 1299px;
    height: 100%;
}


@media screen and (max-width: 1560px) {
    
    .container {

        width: 1099px;
    }
}

@media screen and (max-width: 1299px) {
    
    .container {

        width: 991px;
    }
}

@media screen and (max-width: 1199px) {
    

    .container {

        width: 800px;
    }
}

@media screen and (max-width: 991px) {
    
    .container {

        width: 100%;
    }

    .main_container {

        padding: 20px;
    }
}


@media screen and (max-width: 575px) {
    
    .container {

        width: 100%;
    }

    .main_container {

        padding: 15px;
        gap: 15px;
    }
}


